@use "variables" as *;
@use "breakpoints" as *;


#thank-you-section {
    max-height: auto !important;
    .footer {
    margin-top: 20px;
    position: relative;
    img {
        width: 100%;
        opacity: 0.7;
        // border-radius: 30px;
    }
    .footer-thanks {
        position: absolute;
        width: 100%;
        height: 300px;
        opacity: 0.8;
        top: 60%;
        background-color: #1d1c1c;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        @include responsive(height, (
            lg: 250px,
            md: 200px,
            sm: 150px,
        ));
        .text_01 {
            font-family: "Allura", sans-serif;
            font-size: 6.25rem; // 100px
            @include responsive(font-size, (
                lg: 5rem, // 80px
                md: 4rem, // 64px
                sm: 3rem, // 48px
            ));
        }
        .text_02 {
            font-family: "Allura", sans-serif;
            font-size: 3rem; // 48px
            @include responsive(font-size, (
                lg: 2.5rem, // 40px
                md: 2rem, // 32px
                sm: 1.5rem, // 24px
            ));
        }
    }
}
}